<div class="currentOrderList">
    <table matSort>
        <tr class="orderListHeader">
          <th mat-sort-header="date">Date</th>
          <th mat-sort-header="time">Time</th>
          <th mat-sort-header="customer">Customer</th>
          <th mat-sort-header="total">Total</th>
          <th mat-sort-header="modify">Modify</th>
          <th mat-sort-header="complete">Complete</th>
        </tr>
      
        <tr class="orderList" *ngFor="let order of getAllCurrent(); let i = index" [attr.data-index]="i">
          <td>{{order.year}}/{{order.month}}/{{order.date}}</td>
          <td>{{order.hours}}:{{order.minutes}}:{{order.seconds}}</td>
          <td>{{order.customerName}}</td>
          <td>${{order.totalOrder}}</td>
          <td><button mat-stroked-button color="primary" routerLink="/add-or-update-order/{{i + 1}}">Modify</button></td>
<!--           <td><button mat-raised-button color="primary" (click)="setComplete(order)">Completed</button></td> -->
          <td><button mat-raised-button color="primary" (click)="openDialog(order)">Completed</button></td>
        </tr>
    </table>
</div>
