<div class="currentOrderList">
    <table matSort>
        <tr class="orderListHeader">
          <th mat-sort-header="date">Date</th>
          <th mat-sort-header="time">Time</th>
          <th mat-sort-header="customer">Customer</th>
          <th mat-sort-header="total">Total</th>
          <th mat-sort-header="modify">Modify</th>
          <th mat-sort-header="complete">Complete</th>
        </tr>
      
        <tr class="orderList" *ngFor="let order of getAllCurrent(); let i = index" [attr.data-index]="i">
          <td>{{order.year}}/{{order.month}}/{{order.date}}</td>
          <td>{{order.hours}}:{{order.minutes}}:{{order.seconds}}</td>
          <td>{{order.customerName}}</td>
          <td>${{order.totalOrder}}</td>
          <div *ngIf="isOrderCompeted(order) then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <td><button mat-stroked-button color="primary" disabled>Modify</button></td>
            <td><button mat-raised-button color="primary" disabled>Completed</button></td>
          </ng-template>
          <ng-template #elseBlock>
            <td><button mat-stroked-button color="primary" routerLink="/add-or-update-order/{{i + 1}}">Modify</button></td>
            <td><button mat-raised-button color="primary" (click)="openDialog(order)">Completed</button></td>
          </ng-template>
        </tr>
    </table>
</div>


<!-- 
<div *ngIf="isAbleToSubmitOrder(); then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <button mat-raised-button color="primary" (click)="clickUpdateOrder()">Submit/Update Order</button>
</ng-template>
<ng-template #elseBlock>
    <button mat-raised-button color="primary" disabled>Submit/Update Order</button>
</ng-template> -->