.title {
    font-size: 50px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.tabs {
    margin-top: 3rem;
    background-color: #eee;
}

.active-link {
    color: #283593;
}

a {
    font-size: medium;
}

nav {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}